@tailwind base;
@tailwind components;
@tailwind utilities;

.timer{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
}

.container{
  margin-top: 14%;
  width: 40%;
  height: 50vh;
  background-color: bisque;
  border-radius: 30px;
}

.timer_container{
  justify-content: center;
}

.heading{
  margin-top: 20px;
  font-size: 45px;
  font-weight: bolder;
  font-family: "Urbanist",;
  text-shadow: -4px -1px 2px grey;
  display: flex;
  justify-content: center;
}

.timer_box{
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.button_section{
  display: flex;
  width: 100%;
  max-width: 90%;
  margin: auto;
  justify-content: center;
  gap: 10px;
}

.stop, .restart, .start{
  padding: 15px 20px;
  background-color: black;
  border-radius: 10px;
  color: antiquewhite;
}

.stop:hover, .restart:hover, .start:hover{
  background-color: red;
  color: black;
}

@media (max-width: 768px){
  .container{
    margin-top: 40%;
    width: 90%;
    height: 45vh;
  }
  .heading{
    margin-top: 1rem;
    font-size: 30px;
  }
  .timer_box{
    margin-top: 0.6rem;
    font-size: 70px;
  }
  .start{
    margin-left: 1%;
  }
  .button_section{
    margin-top: 1rem;
  }
  .stop, .restart, .start{
    padding: 10px 15px;
  }
}

